page-start {
	.loginpage{
		background-color: #1B4079;
		text-align: center;
		height: 100%;
		width: 100%;
	}
	.happy::after {
	  	background: #000 none repeat scroll 0 0;
	  	opacity: 0.5;
	  	content: "";
	  	height: 100%;
	 	left: 0;
	  	position: absolute;
	  	top: 0;
	  	width: 100%;
	}
}
