page-login {
	.loginpage{
		  background-color: #1B4079;
		  text-align: center;
		  height: 100%;
		  width: 100%;
	}
	.login-input input{
		text-align: left;
		font-size: 1.5rem;
	}
	.text-input::-moz-placeholder {
	    color: #555;
	}
	.happy::after {
	  content: "";
	  height: 100%;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
	}
	.col{
		padding:0;
	}
	.list-md .item-input.input-has-focus {
	  border-bottom-color: #1B4079;
	  box-shadow: inset 0 -1px 0 0 #1B4079;
	}

	.list-md .item-input.input-has-focus .item-inner {
	  box-shadow: none;
	}

	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus) {
	  border-bottom-color: #32db64;
	  box-shadow: inset 0 -1px 0 0 #32db64;
	}

	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
	  box-shadow: none;
	}

	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus) {
	  border-bottom-color: #f53d3d;
	  box-shadow: inset 0 -1px 0 0 #f53d3d;
	}

	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
	  box-shadow: none;
	}
}
