page-message-open {
	.emoji-img{
		padding:3px;
		width: calc( 100% / 12 );
	}
	.message_page{
		position: relative;
		text-align: center;
		width: 100%;
	}
	.message_page_close{
		position: absolute;
		top: 10px;
		right:5px;
		height: 40px;
	}
	.chat_header{
		background: #fff none repeat scroll 0 0;
	    border-radius: 10px;
	    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
	    height: auto;
	    padding: 5px 15px;
	    position: fixed;
	    width: calc(100% - 32px);
	    z-index: 100;
	    text-align: left;
	    top: 50px;
	}
	.chat_header_option{
		display: inline-block;
	}
	.char_header_img{
		width:50px;
		height: 50px;
		border-radius: 50%;
	}
	.chat_header_info{
		width: auto;
		height: auto;
		text-align: center;
	}
	.chat_header_info .name{
		font-size: 1rem;
	}
	.chat_header_info .status{
		color: #999;
	}
	.message_page_footer{
	    box-shadow: 0 0 6px -2px #999;
	    background-color: #fff;
	    height: auto;
	    width: 100%;
	}
	.chats{
		margin-top: 20px;
		padding: 15px;
		float: left;
		width:100%;
	}
	.message_left{
		background-color: #fff;
		width: 80%;
		height: auto;
		padding: 15px;	
		border: 1px solid #ddd;
	    border-radius: 5px;
		box-shadow: none; 
		color: #555;
		float:left;
		margin: 15px 0;
		position: relative;
	}
	.message_right{
		background-color: #fff;
		width: 80%;
		height: auto;
		padding: 15px;	
		border: 1px solid #ddd;
	    border-radius: 5px;
		box-shadow: none; 
		color: #555;
		float:right;
		margin: 15px 0;
		position: relative;
	}
	.msg_image_left{
		position: absolute;
		top: -20px;
		left: -20px;
		width:40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid #50E187;
		background: #fff;
	}
	.msg_image_right{
		position: absolute;
		top: -20px;
		right: -20px;
		width:40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid #3EABEE;
		background: #fff;
	}
	.message_time_left{
		color:#999;
		font-size: 1rem;
		position: absolute;
		bottom: -20px;
		right:0;
		margin:0; 
	}
	.message_time_right{
		color:#999;
		font-size: 1rem;
		position: absolute;
		bottom: -20px;
		left:0;
		margin:0; 
	}
	.smiley{
		width:60px;
		height: 60px;
		margin: 0;
		float:left;
	}
	.smiley ion-icon img{
		width: 20px;
		height:20px;
	}
	.message_input{
		float: left;
		margin: 0;
		padding-top: 6px;
		width: calc(100% - 120px);
	}
	.message{
	    text-align: center;
	    float: left;
	    width:100%;
	    display: inline-table;
	    word-break: break-all;
	}
	.chat_inbox{
	    width:15px;
	    display: inline-block;
	    margin-right: 2px;
	    margin-left: 2px;
	}
	.form-control{
	    -moz-appearance: textfield;
	    -webkit-appearance: textfield;
	    background-color: white;
	    // background-color: -moz-field;
	    // font: -moz-field;
	    font: -webkit-small-control;
	    margin-top: 5px;
	    padding: 2px 3px;
	    width: 100%;
	    overflow-x: scroll;
	}
	.form-control:empty:not(:focus)::before{
	    content:'Votre message...';
	    color:#999;
	}
}
