page-invite {
	.invitepagediv{
		text-align: center;
		color:#999;
		margin-top: calc(50% - 100px);
	}
	.invitepage_header{
		font-size: bold;
		margin-bottom:30px;
		color: color($colors,dark);
	}
	.widthheight50{
		width: 50px;
		height: 50px;
	}
}
