<!--
    Generated template for the Feedback page.
    
    See http://ionicframework.com/docs/components/#navigation for more info on
    Ionic pages and navigation.
    -->
<ion-header>
    <ion-navbar >
        <ion-title color="maincolor" style="color:#1B4079;text-align: center;margin-right: 55px;font-weight: 600;">
            <span style="color:#3DADF5; font-size: 14px;">Review</span>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding style="text-align: center;background: #f7f7f7">
    <div class="">
        <div class="text-data">
            <h5> Vous avez terminé votre projet!</h5>
			<h4 *ngIf="total < 1">Vous recevrez une notification si le client laisse un pourboire</h4>
			<h4 *ngIf="total > 1">Vous recevrez une notification si le client laisse un pourboire</h4>
            <img *ngIf="customer_image" src="{{customer_image}}" class="img-responsive user-img" />
            <h5> Évaluez votre expérience avec  </h5>
            <h5 class="name"> {{customer_name}} </h5>
        </div>
        <ul class="star-ul">
            <li>
                <div class=""> Courtoisie </div>
                <div class="">
                    <ion-icon (click)="star1=1" *ngIf="star1 < 1"  name="ios-star-outline" class="star-size"></ion-icon>
                    <ion-icon (click)="star1=1" *ngIf="star1 >= 1 " name="ios-star" class="star-size"></ion-icon> 
                    <ion-icon (click)="star1=2" name="ios-star-outline" *ngIf="star1 < 2"  class="star-size"></ion-icon>
                     <ion-icon (click)="star1=2" *ngIf="star1 >= 2 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star1=3" name="ios-star-outline" class="star-size" *ngIf="star1 < 3" ></ion-icon>
                    <ion-icon (click)="star1=3" *ngIf="star1 >= 3 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star1=4" name="ios-star-outline" class="star-size" *ngIf="star1 < 4"></ion-icon>
                   <ion-icon (click)="star1=4" *ngIf="star1 >= 4 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star1=5" name="ios-star-outline" class="star-size" *ngIf="star1 < 5"></ion-icon>
                    <ion-icon (click)="star1=5" *ngIf="star1 >= 5 " name="ios-star" class="star-size"></ion-icon>
                </div>
            </li>
            <li>
                <div class=""> Ponctualité </div>
                <div class="">
                   <ion-icon (click)="star2=1" *ngIf="star2 < 1"  name="ios-star-outline" class="star-size"></ion-icon>
                    <ion-icon (click)="star2=1" *ngIf="star2 >= 1 " name="ios-star" class="star-size"></ion-icon> 
                    <ion-icon (click)="star2=2" name="ios-star-outline" *ngIf="star2 < 2"  class="star-size"></ion-icon>
                     <ion-icon (click)="star2=2" *ngIf="star2 >= 2 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star2=3" name="ios-star-outline" class="star-size" *ngIf="star2 < 3" ></ion-icon>
                    <ion-icon (click)="star2=3" *ngIf="star2 >= 3 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star2=4" name="ios-star-outline" class="star-size" *ngIf="star2 < 4"></ion-icon>
                   <ion-icon (click)="star2=4" *ngIf="star2 >= 4 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star2=5" name="ios-star-outline" class="star-size" *ngIf="star2 < 5"></ion-icon>
                    <ion-icon (click)="star2=5" *ngIf="star2 >= 5 " name="ios-star" class="star-size"></ion-icon>
                </div>
            </li>
            <li>
                <div class=""> Projet conforme à la description </div>
				<br/>
                <div class="">
                    <ion-icon (click)="star3=1" *ngIf="star3 < 1"  name="ios-star-outline" class="star-size"></ion-icon>
                    <ion-icon (click)="star3=1" *ngIf="star3 >= 1 " name="ios-star" class="star-size"></ion-icon> 
                    <ion-icon (click)="star3=2" name="ios-star-outline" *ngIf="star3 < 2"  class="star-size"></ion-icon>
                     <ion-icon (click)="star3=2" *ngIf="star3 >= 2 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star3=3" name="ios-star-outline" class="star-size" *ngIf="star3 < 3" ></ion-icon>
                    <ion-icon (click)="star3=3" *ngIf="star3 >= 3 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star3=4" name="ios-star-outline" class="star-size" *ngIf="star3 < 4"></ion-icon>
                   <ion-icon (click)="star3=4" *ngIf="star3 >= 4 " name="ios-star" class="star-size"></ion-icon>
                    <ion-icon (click)="star3=5" name="ios-star-outline" class="star-size" *ngIf="star3 < 5"></ion-icon>
                    <ion-icon (click)="star3=5" *ngIf="star3 >= 5 " name="ios-star" class="star-size"></ion-icon>
                </div>
            </li>
        </ul>

        <button ion-button round (click)="submit()" color="primary" style="box-shadow: none;width:75%;margin: 10px auto;" margin-top>ENVOYER</button>
    </div>
    
</ion-content>