page-feedback {
	ion-content{
		background-color: #f6f7eb !important;
	}
	.star-ul{
		width: 100%;
		float: left;
		list-style-type: none;
		padding: 0;
	}
	.text-data{
		width: 100%;
		float: left;
	}
	.user-img{
		width: 100px;
		height: 100px;
		border-radius: 100px;
		object-fit: cover;
		display: inline-block;
	}
	.name{
		color:#3DADF5;
		margin-top: 0;
	}
	.star-ul > li{
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
	.star-ul > li > div {
		width: 50%;
		float: left;
		text-align: left;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		font-weight: 800;
	}
	ion-icon{
		color: #3DADF5;
	}
	.star-size{
	color:#F6B000;
	}
}
