
<ion-content padding class="main_color_code">
	<ion-refresher pullMax="200" pullMin="150" (ionRefresh)="doRefresh($event,true)">
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      refreshingSpinner="ios"
	      refreshingText="Actualisation...">
	    </ion-refresher-content>
	</ion-refresher>
		<div padding *ngIf="myoolaga && myoolaga.length==0 " style="text-align: center;color:#999;margin-top: calc(50% - 50px);">
          <div style="width: 80%;margin-left: 10%;">
          <p style="font-size: 22px; ">Vous n'avez aucun projet</p>
          </div>
        </div>
	  	<div *ngFor="let o of myoolaga">
	  	<!-- (click)="openOffer(o)" -->
	  		<div class="home_task_div">
	  			<div class="locations" (click)="openMyoolaga(o, dateCompare(o.date, o.first_time, o.track_status))" *ngIf="o.service.id!=7">
		  			<div class="home_locations">
		  				<ion-label no-margin class="home_location" >{{o.source.location_name}}</ion-label>
		  			</div>
		  			<div class="home_to">À</div>
		  			<div class="home_locations">
		  				<ion-label no-margin class="home_location" >{{o.destination?.location_name}}</ion-label>
		  			</div>
		  		</div>

		  		<div class="locations" (click)="openMyoolaga(o, dateCompare(o.date, o.first_time, o.track_status))" *ngIf="o.service.id==7">
		  			<div class="home_location">
		  				<ion-label no-margin class="home_location" >{{o.source.location_name}}</ion-label>
		  			</div>
		  		</div>
		  		 
		  		<div class="type" *ngIf="!dateCompare(o.date, o.first_time | timemomentformat, o.track_status)">
		  			<ion-icon  (click)="openMessage(o.customer_id,o.user.image,o.user.firstname,o.user.lastname, o.id)" class="msg_icon">
		  				<img src="img/message.png" style="width: 23px;">
		  			</ion-icon>
		  			<div class="msg_no_div">{{o.unread_messages}}</div>
		  		</div>
				
				<div class="type" *ngIf="dateCompare(o.date, o.first_time | timemomentformat, o.track_status)" >
		  			<ion-icon   class="msg_icon">
		  				<img src="img/close-chat.png" style="width: 23px;">
		  			</ion-icon>
		  			<!--div class="msg_no_div">{{o.unread_messages}}</div--> 
		  		</div>
		  		<div class="oolaga_type" (click)="openMyoolaga(o)">{{getStringValue(o.service.service)}}</div>

		  		<div class="details_task" (click)="openMyoolaga(o)">
		  			<div class="detail_task_option">
		  				<ion-label no-margin class="home_location_header">Gain</ion-label>
		  				<ion-label no-margin class="detail_option" color="primary">{{o.cost}}€</ion-label>
		  			</div>
		  			<div class="detail_task_option">
		  				<ion-label no-margin class="home_location_header">Date</ion-label>
		  				<ion-label no-margin class="detail_option" color="primary">{{changeDateFormat(o.date)}}</ion-label>
		  			</div>
		  			<div class="detail_task_option">
		  				<ion-label no-margin class="home_location_header">Horaire</ion-label>
		  				<ion-label no-margin class="detail_option" color="primary">{{changeFormat(o.first_time)}}</ion-label>
		  			</div>
		  			<div class="detail_task_option">
		  				<ion-label no-margin class="home_location_header">Référence</ion-label>
		  				<ion-label no-margin class="detail_option capital" color="primary">{{o.uniccode}}</ion-label>
		  			</div>
		  		</div>
	  		</div>
	  	</div>
</ion-content>
