// http://ionicframework.com/docs/v2/theming/

@font-face {
    font-family: 'MarkPro-Bold';
    font-style: normal;
    font-weight: 200;
    src: local('MarkPro-Bold'), local('MarkPro-Bold'), url("../assets/fonts/MarkPro-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'MarkPro-BookItalic';
    font-style: normal;
    font-weight: 300;
    src: local('MarkPro-BookItalic'), local('MarkPro-BookItalic'), url("../assets/fonts/MarkPro-BookItalic.ttf") format('truetype');
}
@font-face {
    font-family: 'MarkPro';
    src: local('MarkPro'), local('MarkPro'), url("../assets/fonts/MarkPro.otf") format('opentype');
}
div, body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item {
font-family: 'MarkPro' !important;
}
.back-button{
	color:color($colors,primary);
}
.header_center{
	text-align: center;
}
.sidemenu_button{
	display: flex;
}
.sidemenu_button ion-icon img,.sidemenu_button span{
	align-self:center;
}
.header_color{
}
.toolbar-title-ios {
  color: #3EABEE;
}
.toolbar-title-md {
  color: #3EABEE;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	background-image: none;  
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
  border: 0 !important;
}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
  background-image: none;
}
.toolbar-background-ios {
  background: transparent;
}
.toolbar-background-md {
  background: transparent;
}
.sidemenu_content{
	position: relative;
	background-color: #3EABEE;
}
.sidemenu_close{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
	color: #fff;
}
.sidemenu_profile{
	background:transparent;
	color: #fff;
}
.sidemenu_user{
	margin-top: 40px;
	background-color: transparent;
}
.sidemenu_img{
	width: 55px !important;
	height: 55px !important;
	float: left;
}
.sidemenu_img_name{
	float: left;
	margin: 15px;
	color:#fff;
	text-transform: capitalize;
}
.sidemenu_pages{
	color:#fff;
	font-size: 2rem;
    height: 50px;
    background-color: transparent;
}
.bottom_line{
	width:70%;
	margin: 5px 10px;
	height: 1px !important;
	background-color: #8EeBfE !important; 
}
.main_color_code{
	background-color: #F6F7EB;
}
.header_margin{
	margin-right: 55px;
}
.sidemenu_option{
	background-color: transparent;
}
.sidemenu_footer{
	//height: 60px;
	width: 100%;
	background-color: #fff;
	border-radius: 50% 50% 0 0;
	text-align: center;
	color:#5473b3;
}
.logout_button{
	margin: auto;
	width: 100%;
}
.sidemenu_pages ion-icon img{
}
.swiper-slide {
	height: 85%;
}
.tab-badge {
    padding: 3px 5px 0px 4px;
    right: calc(50% - 20px) !important;
}
.badge-md {
}
// ion-spinner{
// 	background: #fff none repeat scroll 0 0;
//     border: 1px solid #999;
//     border-radius: 50%;
//     box-shadow: 0 0 5px;
//     display: inline-block;
//     height: 50px;
//     width: 50px;
//     position: absolute;
//     right: calc(50% - 25px);
//     top: calc(50% - 25px);
//     z-index: 10;
// }